extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="sobrre nosotreos img", class="img-fluid")
            .col-md-7          
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nesciunt eligendi reprehenderit ipsam sed earum, totam suscipit dicta natus pariatur perferendis! Quia sit quidem sequi unde corrupti sint, aspernatur voluptates!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam placeat debitis amet deserunt voluptate odit voluptatibus inventore dolore, suscipit eum porro praesentium esse sequi, totam ut modi, quibusdam libero officiis.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt veniam quisquam, laboriosam ex adipisci reiciendis eum explicabo maxime consequuntur illum, cumque iste voluptas laborum. Illum animi dolor voluptas odit.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat deleniti maiores, quam suscipit ipsa, nulla veniam distinctio accusamus cumque velit corporis perferendis voluptate? Molestias omnis sapiente assumenda eum delectus ratione?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat deleniti maiores, quam suscipit ipsa, nulla veniam distinctio accusamus cumque velit corporis perferendis voluptate? Molestias omnis sapiente assumenda eum delectus ratione?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat deleniti maiores, quam suscipit ipsa, nulla veniam distinctio accusamus cumque velit corporis perferendis voluptate? Molestias omnis sapiente assumenda eum delectus ratione?
                